---
layout: default
class: home
hide_breadcrumbs: true
title: Choisissez une licence ouverte
permalink: /
---

<h2>
  <span>{</span>
  Quelle option décrit au mieux votre situation?
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="whatever">
    <a href="ma-these">
      <span class="triptych-sprite three-arrows"></span>
      <h3>Je veux partager un travail écrit.</h3>
      <h4>Thèse, présentation, etc.</h4>

    <p>
      Pourquoi?</a>
    </br>Pourquoi publier mon travail sous licence ouverte?
    </p>
    <p>
      <a href="comment-these">Comment?</a>
      <br/>Comment publier mon travail sous licence ouverte?
    </p>


  </li>
  <li class="patents">
    <a href="licenses/apache-2.0/">
      <span class="triptych-sprite lightbulb"></span>
      <h3>Je veux publier mon étude.</h3>
    </a>
    <p>
      The <a href="licenses/apache-2.0/">Apache License 2.0</a> is a permissive license similar to the MIT License, but also provides an express grant of patent rights from contributors to users.
    </p>
    <p>
      {% include using-sentence.html license-id="apache-2.0" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>Je veux partager un un logiciel.</h3>
    </a>
    <p>
      The <a href="licenses/gpl-3.0/">GNU GPLv3</a> is a copyleft license that requires anyone who distributes your code or a derivative work to make the source available under the same terms, and also provides an express grant of patent rights from contributors to users.
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  Et si rien de tout cela ne me convient?
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>My project isn’t software.</h3>
    <p>
      <a href="non-software">There are licenses for that</a>.
    </p>
  </li>
  <li>
    <h3>I want more choices.</h3>
    <p>
      <a href="licenses">More licenses are available</a>.
    </p>
  </li>
  <li>
    <h3>I don’t want to choose a license.</h3>
    <p>
      <a href="no-license">You don’t have to</a>.
    </p>
  </li>
</ul>
