<div class="sidebar">

  <a href="#" data-clipboard-target="#license-text" data-proofer-ignore="true" class="js-clipboard-button button">Copier cette licence dans le presse-papier</a>

  <div class="how-to-apply">
    <h3>How to apply this license</h3>
    <p>
      {{ page.how | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% if page.note %}
    <p class="note">
      <strong>Note: </strong> {{ page.note | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %}
    {% assign xgpl = false %}
    {% if page.spdx-id contains 'GPL' %}{% assign xgpl = true %}{% endif %}
    <p class="note"><strong>Optional: </strong> Add <strong><code>{{ page.spdx-id }}</code>{% if xgpl %}+{% endif %}</strong>{% if xgpl %} (or <strong><code>{{ page.spdx-id }}</code></strong> to disallow future versions){% endif %} to your project's package description, if applicable (e.g., <a href="https://docs.npmjs.com/files/package.json#license">Node.js</a>, <a href="http://guides.rubygems.org/specification-reference/#license=">Ruby</a>, and <a href="http://doc.crates.io/manifest.html#package-metadata">Rust</a>). This will ensure the license is displayed in package directories.</p>
  </div>

  {% if page.source %}
  <div class="source">
    <a href="{{ page.source }}">
      <span class="license-sprite"></span>
      Source
    </a>
  </div>
  {% endif %}

<!--Test pour les appels de vidéos-->
  {% if page.video %}
    {% if page.video.plateforme == vimeo %}

    <div class="video">
      <iframe class="vimeo-player" width="100%" height="auto"  src="https://player.vimeo.com/video/{{ page.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>

    {% endif %}


    {% if page.video.plateforme == youtube %}
    <div class="video">
      <iframe class="youtube-player" type="text/html" width="100%" height="auto" src="https://www.youtube.com/embed/{{ page.video }}" allowfullscreen frameborder="0">
    </iframe>
    </div>

    {% endif %}


  {% endif %}
<!--Fin du test-->

  {% if page.using %}
  <div class="projects-with-license">
    <h3>Who's using this license?</h3>
    <ul>
      {% for using in page.using %}
        {% for hash in using %}
          <li><a href="{{ hash[1] }}" target="_blank">{{ hash[0] }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div> <!-- /sidebar -->
